@mixin pad {
  @media (max-width: 768px){
    @content;
  }
}

@mixin mobile {
  @media (max-width: 576px){
    @content;
  }
}


$dark: #424242;
$gray-500: rgba(255,255,255,0.18);
$gray-600: #4A4A4A;
$light:  #efefef;
$white: #fff;
$warning: #FFD366;
$ideal: #86D73F;
$thin:#31BAF9;
$heavy: #FF982D;
$slightlyObese:#FF6C03;
$mediumObese:#FF6C03;
$severeObese:#FF1200;


body {
  font-family: Roboto , -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
//reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *::before, *::after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
img, i{
  vertical-align: middle;
}
input{
  &:focus, :active{
    outline: none;
  }
}


// hide num
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


body{
  color: $gray-600;
  font-weight: normal;
}

.bg-dark{
  background-color: $dark;
  padding-top: 74px;
  padding-bottom: 74px;
  height: 300px;
}
.bg-light{
  background-color: $light;
  padding-top: 48px;
  padding-bottom: 74px;
}
.bg-warning{
  background: $warning;
  padding-top: 18px;
  padding-bottom: 18px;
}

.container{
  width: 65%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo{
  @include mobile{
    display: none;
  }
  a{
    display: block;
    text-indent: 101%;
    white-space: nowrap;
    overflow:hidden;

    border-radius: 8px;
    width: 117px;
    height: 117px;
    background-position: center center;
    background-size: cover;

  }
}

.input-group{

  & > div:first-child{
    margin-bottom: .5rem;
  }
  
  label{
    display: block;
    color: $warning;
    font-size: 18px;
    margin-bottom: 7px;
  }
  
  input{
    display: block;
    background-color: $gray-500;
    border: 2px solid $warning;
    border-radius: 10px;  
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    
    color: $white;
    
    &::placeholder{
      color: $light;
    }

  }
  .warning{
    border: 2px solid $mediumObese;
    background-color: $light 70%;


  &::placeholder{
    color: $mediumObese;
  }
  }

  p{
    visibility: hidden;
    color: $mediumObese;
    margin-bottom: 0;
    text-align: right;
    font-size: 0.65rem;
    padding-top: .5rem;
    
  }
  .visible{
    visibility:visible;
  }
}

.btn-container{
  width: 120px;
  height: 120px;
  
}

.see-result{
  display: flex;
  justify-content: center;
  align-items: center;
  
  border-radius: 50%;

  width: 120px;
  height: 120px;
  background-color: $warning;
  border: 1px solid transparent;
  
  font-size: 1.5rem;
  
  &:hover{
    box-shadow: 0 1px 6px 3px rgba(255,196,50,0.64);
  }
  
  &:active{
    background-color: #DEA821;
  }

}

#show-result{
/* test   border: 6px solid #fff;
  color: #fff; */
  position:relative;
  
  border-radius: 50%;
  width: 120px;
  height: 120px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3{
    font-size: 2rem;
    white-space: nowrap;
  }

}

.result-num{
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  &::after{
    position: absolute;
    content:'BMI';
    font-size: .875rem;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.result-msg{
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 1.25rem;
  transform: translateY(-50%);
  font-size: 1.75rem;

}

.reset-btn{
  display: block;
  border: 3px solid $dark;
  border-radius: 50%;

  padding: .25rem;
  font-size: 1.25rem;
  color: $dark;
  background-color: $white;

  position:absolute;
  right: -5px;
  bottom: 0;
  
}

.result{
  &-ideal{
  border: 6px solid $ideal;
  color: $ideal;
  margin-right: -36px;
    a{
      background-color: $ideal;
    }
  }
&-thin{
  border: 6px solid $thin;
  color: $thin;
  margin-right: -36px;
   a{
      background-color: $thin;
    }
}
&-heavy{
  border: 6px solid $heavy;
  color: $heavy;
  margin-right: -36px;
   a{
      background-color: $heavy;
    }
}
&-slightlyObese{
  border-left: 6px solid $slightlyObese;
  color: $slightlyObese;
  margin-right: -36px;
   a{
      background-color: $slightlyObese;
    }
}
&-mediumObese{
  border: 6px solid $mediumObese;
  color: $mediumObese;
  margin-right: -36px;
   a{
      background-color: $mediumObese;
    }
}
&-severeObese{
  border: 6px solid $severeObese;
  color: $severeObese;
  margin-right: -36px;
   a{
      background-color: $severeObese;
    }
}
}


.subTitle{
  text-align: center;
  color: $dark;
  font-size: 24px;
  margin-bottom: 36px;
}


.list{
  height: 300px;
  overflow: auto;
  li{
    display: flex;
    align-items: end;
    justify-content: space-between;
    
    background-color: #fff;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 16px;
    
  }
  h3{
    width: 12.8%;
  }
  div{
    display: flex;
    align-items: center;
  }
  small{
    font-size: 12px;
    color: $dark;
    margin-right: 7px;
  }

  .none{
    background-color: $light;
    justify-content: center;
    
  }
  
  .ideal{
    border-left: 5px solid $ideal;
    a{
      &:hover{
        color: $ideal;
      }
    }
  }
  .thin{
    border-left: 5px solid $thin;
    a{
      &:hover{
        color: $thin;
      }
    }
  }
  .heavy{
    border-left: 5px solid $heavy;
    a{
      &:hover{
        color: $heavy;
      }
    }
  }
  .slightlyObese{
    border-left: 5px solid $slightlyObese;
    a{
      &:hover{
        color: $slightlyObese;
      }
    }
  }
  .mediumObese{
    border-left: 5px solid $mediumObese;
    a{
      &:hover{
        color: $mediumObese;
      }
    }
  }
  .severeObese{
    border-left: 5px solid $severeObese;
    a{
      &:hover{
        color: $severeObese;
      }
    }
  }
}

.delete-btn{
  display: block;
  font-size: .875rem;
  color: $dark;

  &:hover{
    color: $warning;
    translate: all .3s ease-in-out;
  }
}


.clear-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .875rem;
  border: 0px solid #000;
  color: $white;
  background-color: rgba(77,77,77,0.2);

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  margin: 0 auto;
  margin-top: 1rem;

  p{
    font-size: 0.875rem;
    white-space: nowrap;
  }
  
  &:hover{
    background-color: #212121CC;
    color: #efefef;
    cursor: pointer;
  }
}

.d-none{
  display: none;
}

.footer{
  text-align: center;
}
