body {
  font-family: Roboto , -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }

img, i {
  vertical-align: middle; }

input:focus, input :active {
  outline: none; }

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

body {
  color: #4A4A4A;
  font-weight: normal; }

.bg-dark {
  background-color: #424242;
  padding-top: 74px;
  padding-bottom: 74px;
  height: 300px; }

.bg-light {
  background-color: #efefef;
  padding-top: 48px;
  padding-bottom: 74px; }

.bg-warning {
  background: #FFD366;
  padding-top: 18px;
  padding-bottom: 18px; }

.container {
  width: 65%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px; }

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem; }

@media (max-width: 576px) {
  .logo {
    display: none; } }

.logo a {
  display: block;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 8px;
  width: 117px;
  height: 117px;
  background-position: center center;
  background-size: cover; }

.input-group > div:first-child {
  margin-bottom: .5rem; }

.input-group label {
  display: block;
  color: #FFD366;
  font-size: 18px;
  margin-bottom: 7px; }

.input-group input {
  display: block;
  background-color: rgba(255, 255, 255, 0.18);
  border: 2px solid #FFD366;
  border-radius: 10px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  color: #fff; }
  .input-group input::-webkit-input-placeholder {
    color: #efefef; }
  .input-group input::-moz-placeholder {
    color: #efefef; }
  .input-group input:-ms-input-placeholder {
    color: #efefef; }
  .input-group input::-ms-input-placeholder {
    color: #efefef; }
  .input-group input::placeholder {
    color: #efefef; }

.input-group .warning {
  border: 2px solid #FF6C03;
  background-color: #efefef 70%; }
  .input-group .warning::-webkit-input-placeholder {
    color: #FF6C03; }
  .input-group .warning::-moz-placeholder {
    color: #FF6C03; }
  .input-group .warning:-ms-input-placeholder {
    color: #FF6C03; }
  .input-group .warning::-ms-input-placeholder {
    color: #FF6C03; }
  .input-group .warning::placeholder {
    color: #FF6C03; }

.input-group p {
  visibility: hidden;
  color: #FF6C03;
  margin-bottom: 0;
  text-align: right;
  font-size: 0.65rem;
  padding-top: .5rem; }

.input-group .visible {
  visibility: visible; }

.btn-container {
  width: 120px;
  height: 120px; }

.see-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: #FFD366;
  border: 1px solid transparent;
  font-size: 1.5rem; }
  .see-result:hover {
    -webkit-box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
            box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64); }
  .see-result:active {
    background-color: #DEA821; }

#show-result {
  /* test   border: 6px solid #fff;
  color: #fff; */
  position: relative;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  #show-result h3 {
    font-size: 2rem;
    white-space: nowrap; }

.result-num {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }
  .result-num::after {
    position: absolute;
    content: 'BMI';
    font-size: .875rem;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.result-msg {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 1.25rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.75rem; }

.reset-btn {
  display: block;
  border: 3px solid #424242;
  border-radius: 50%;
  padding: .25rem;
  font-size: 1.25rem;
  color: #424242;
  background-color: #fff;
  position: absolute;
  right: -5px;
  bottom: 0; }

.result-ideal {
  border: 6px solid #86D73F;
  color: #86D73F;
  margin-right: -36px; }
  .result-ideal a {
    background-color: #86D73F; }

.result-thin {
  border: 6px solid #31BAF9;
  color: #31BAF9;
  margin-right: -36px; }
  .result-thin a {
    background-color: #31BAF9; }

.result-heavy {
  border: 6px solid #FF982D;
  color: #FF982D;
  margin-right: -36px; }
  .result-heavy a {
    background-color: #FF982D; }

.result-slightlyObese {
  border-left: 6px solid #FF6C03;
  color: #FF6C03;
  margin-right: -36px; }
  .result-slightlyObese a {
    background-color: #FF6C03; }

.result-mediumObese {
  border: 6px solid #FF6C03;
  color: #FF6C03;
  margin-right: -36px; }
  .result-mediumObese a {
    background-color: #FF6C03; }

.result-severeObese {
  border: 6px solid #FF1200;
  color: #FF1200;
  margin-right: -36px; }
  .result-severeObese a {
    background-color: #FF1200; }

.subTitle {
  text-align: center;
  color: #424242;
  font-size: 24px;
  margin-bottom: 36px; }

.list {
  height: 300px;
  overflow: auto; }
  .list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #fff;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 16px; }
  .list h3 {
    width: 12.8%; }
  .list div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .list small {
    font-size: 12px;
    color: #424242;
    margin-right: 7px; }
  .list .none {
    background-color: #efefef;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .list .ideal {
    border-left: 5px solid #86D73F; }
    .list .ideal a:hover {
      color: #86D73F; }
  .list .thin {
    border-left: 5px solid #31BAF9; }
    .list .thin a:hover {
      color: #31BAF9; }
  .list .heavy {
    border-left: 5px solid #FF982D; }
    .list .heavy a:hover {
      color: #FF982D; }
  .list .slightlyObese {
    border-left: 5px solid #FF6C03; }
    .list .slightlyObese a:hover {
      color: #FF6C03; }
  .list .mediumObese {
    border-left: 5px solid #FF6C03; }
    .list .mediumObese a:hover {
      color: #FF6C03; }
  .list .severeObese {
    border-left: 5px solid #FF1200; }
    .list .severeObese a:hover {
      color: #FF1200; }

.delete-btn {
  display: block;
  font-size: .875rem;
  color: #424242; }
  .delete-btn:hover {
    color: #FFD366;
    translate: all .3s ease-in-out; }

.clear-all-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .875rem;
  border: 0px solid #000;
  color: #fff;
  background-color: rgba(77, 77, 77, 0.2);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  margin-top: 1rem; }
  .clear-all-btn p {
    font-size: 0.875rem;
    white-space: nowrap; }
  .clear-all-btn:hover {
    background-color: #212121CC;
    color: #efefef;
    cursor: pointer; }

.d-none {
  display: none; }

.footer {
  text-align: center; }

/*# sourceMappingURL=all.css.map */
